body {
  margin: 0;
  background: #f5f5f5;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.home-container h1 {
  font-size: 2.5rem;
  color: #353839;
}

.home-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  background: #57B9FF;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
  text-decoration: none
}

.btn:hover {
  background: #90D5FF;
}
